pre {
  border: 1px solid #999;
  page-break-inside: avoid;
}

code,
pre {
  padding: 0 3px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
/*  white-space: pre-wrap;*/
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-size: 16px;
  background-color: #272822;
  color: white;
  font-family: consolas, "Courier New", monospace;
}

.highlight {
  background-color: transparent;
}

